<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <header>
      <h1>My Hero Rick Sanchez wubba lubba dub dub</h1>
      <ul>
        <li><a href="/works">Works</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="about">about</a></li>
    </ul>
    </header>
    <img
      class="home-image"
      src="./images/rick-and-mortys-justin-roiland-prank-calls-joel-osteens-megachurch-prayer-line-as-rick-and-the-results-are-hilarious-social.jpg"
      alt="Rick Image"
    />

  </body>
</html>
