<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
  </head>
  <body>
    <head>
      <h1>Works</h1>
    </head>
    <main>
      <div class="works-item">
        <h2>Build a Spaceship</h2>
        <img class="works-image" src="./images/spaceship.jpg" alt="spaceship image" />
      </div>
      <div class="works-item">
        <h2>Turn himself into a Pickel</h2>
        <img class="works-image" src="./images/pickelRick.jpeg" alt="" />
      </div>
      <div class="works-item">
        <h2>Travel across Multiverses</h2>
        <img class="works-image" src="./images/green portal.jpg" alt="" />
      </div>
      <div class="works-item">
        <h2>Create interdimensional Cable TV</h2>
        <img class="works-image" src="./images/multiverse cable.jpg" alt="" />
      </div>
    </main>
  </body>
</html>
